.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    background-color:#99B0C9;
    border-radius: 20px;
    width: 400px;
    height: 330px;
    font-family: Poppins;
}
   
.inicarsesion-header{
    color: black;
    text-align: center;
    font-size: 300%;
}

.inputs {
    margin: 0 0 15px;
    background: #D9D9D9;
    margin-top: 30px
    padding 15px;
    width: 100%;
}

label{
    display: block;
}

button{
    color:#fff;
    background-color: #7a97ad;
    width: 100%;
    margin-top: 10%;
    cursor: pointer;
    text-transform: uppercase;
    padding: 15px;
    font-size: 14px;

}
