<div class="card-content">
    <div class="image">
        <img src={{contacto.avatar}} alt="" (click)="emergente = !emergente">
    </div>
    <div class="media-icons">
        <i class="fa-sharp fa-solid fa-earth-americas"></i>
        <i class="fa-brands fa-whatsapp"></i>
    </div>
    <div class="name-descripcion">
        <span class="name">{{contacto.first_name}}</span>
        <span class="descripcion">{{contacto.description}}</span>
    </div>
    <div class="rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
    </div>
    <div class="button">
        <button class="delete">Eliminar </button>
        <button class="editar">Editar <i class="fa-solid fa-wand-magic-sparkles"></i></button>
    </div>
</div>
<div id="emergente" *ngIf="emergente">
    <p class="emergente">Ventana emergente</p>
</div>