<p>tarjeta-contacto works!</p>
<div id="container">
    <div id="left">
        <p id="name" [routerLink]="['contactos', contact.id]">{{contact.first_name}} {{contact.last_name}}</p>
        <span id="telephoneNumber">{{contact.CelularNumber}}</span>
    </div>
     <div id="right">
        <a href="tel:{{contact.CelularNumber}}"><img id="wp" src="./../../../../assets/icons/call.png"></a>
        <a href="https://wa.me/{{contact.CelularNumber}}" target="_blank"><img id="wp" src="./../../../../assets/icons/whatsapp.png"></a>
    </div> -->
</div>
 