
<div id="container">
    <h1>Agregar contacto</h1>
    <form>
        <div class="inputs">
            <label for="Nombre">Nombre</label>
            <input type="nombre" name="nombre" id="nombre" autocomplete="nombre" placeholder="Nombre"
            >
          </div>
        <div class="inputs">
            <label for="Apellido">Apellido</label>
            <input type="apellido" name="apellido" id="apellido" autocomplete="apellido" placeholder="Apellido"
            >
        </div>
        <div class="inputs">
            <label for="Telefono">Telefono</label>
            <input type="telefono" name="telefono" id="telefono" autocomplete="telefono" placeholder="Telefono"
            >
          </div>
          <div class="inputs">
            <label for="Email">Email</label>
            <input type="email" name="email" id="email" autocomplete="email" placeholder="Email"
            >
          </div>
        <div class="inputs">
            <label for="Descripcion">Descripcion</label>
            <input type="telefono" name="telefono" id="telefono" autocomplete="telefono" placeholder="Descripcion"
            >
          </div> 
          <div>
            <button type="submit" >Guardar</button>
            <button type="submit" >Cancelar</button>
            
          </div>          

    </form>
    
  </div>