.container{
    background-color: #BBCDDB;
    background-size:100vh;
    font-family: Poppins;

}

.Registrarse-header{
    color: black;
    text-align: center;
    font-size: 300%;
}
.Registrarse-Form{
    box-sizing: border-box;  
    padding-top: 45px;
    padding-bottom: 10%;
    margin: 5% auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#99B0C9;
    border-radius: 20px;
    width: 350px;
    height: 330px;
    input[type="button"] {
        margin-bottom: 5%;
        height: 30px;
        width: 110px;
        background: #fff;
        border: 1px solid #f2f2f2;
        border-radius: 20px;
        color: slategrey;
    }
    input [type="Text"]{
    margin-top: 30px;
      max-width:400px;
      width: 80%;
      line-height:3em;
      margin:inherit;
      border-radius: 5px;
      border:2px solid #f2f2f2;
      outline:none;
      padding-left:10px;
      gap: 20px;

    }



}