<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
<link rel="stylesheet" href="contactos.component.scss">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css"/>


  

<body>
    <a [routerLink]="['/agregar']">+</a>
    <section>
            <div class="listaContactos">

                <app-tarjeta-contacto class="swiper-slide card" *ngFor="let contacto of contactos" [contacto]="contacto"></app-tarjeta-contacto>
                    
            </div>
    </section>
</body>

